# Environment variables and secrets
.env
*.env
.env.*
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# Logs and databases
*.log
*.sqlite