# Environment variables
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
*.code-workspace

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/